{% extends "::base.html.twig" %}
{%block breadcrumb%}
    <li>
        <a href="{{ path('fos_message_inbox') }}">
            Inbox
        </a>
    </li>
    <li class="active"> New message</li>
    {%endblock%}

{% block mainContent %}
    <div class="container">
        <div class="col-md-6 col-md-offset-3" style="margin-top: 20px;">
            <div class="panel panel-white">
                <div class="panel-heading">
                    <h4 class="panel-title">Send new <span class="text-bold">Message</span></h4>
                    <hr>
                </div>
                <div class="panel-body">
                    <form action="{{ url('fos_message_thread_new') }}" method="post">
                        {{ form_widget(form) }}

                        <button class="btn btn-green col-md-4 col-xs-12" type="submit" style="float: right;">
                            <i class="fa fa-envelope-o"></i> Send
                        </button>
                    </form>
                </div>
            </div>
        </div>

    </div>



{% endblock %}
